.artwork {
  padding: 7%;
  padding-left: 8%;
  position: absolute;
  top: 50%;
  left: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  margin: 0;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px 0px 0px;
}

.art {
  margin-top: 2px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.arrow {
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgb(151, 150, 150);
  font-weight: inherit;
}

.arrows {
  margin: auto;
  text-align: center;
  padding: auto;
}
